*{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color:white;
    padding: 0;
    margin:0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    }

.logo{
    width: 30%;
}


.opciones{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

.opcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.IB{
    width: 20%;
}


.opcion a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}



.opcion a:hover{
    color: teal;
    text-decoration: underline;
}






h1 { 
    text-align:center;
    height: 100px;
    font-size: 70px;
}

img{ 
    width:50%;
}


.canciones{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  
}
.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:baseline;
    margin-top: 20px;

}


.cancion{
    width:25%;
    display: flex;
    flex-direction: column;
   align-items: center;
    margin: 50px;
 
}

a{
    text-decoration:none ;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 30px;
}
a p{
    font-size: 24px;
}

.info a:hover{
    color: rgb(172, 170, 170);
    text-decoration: underline;
    
}

.info a p:hover{
color: rgb(172, 170, 170);
text-decoration: underline;

}
.info a ion-icon:hover{
    color: rgb(172, 170, 170);
    text-decoration: underline;  
}


a ion-icon{
    font-size: 40px;
}

.footer {
    background-color:teal;
    margin-top: 50px;
}

.nombres{
    width: 50%;
    margin: auto;
    text-align: center;
}

.nombres a p:hover{
    color: teal;
    text-decoration: underline;}



    @media (max-width:420px){


        .canciones{ 
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: baseline;
        }
        
        .info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items:baseline;
            justify-content: space-around;
            margin-top: 40px; 
            
        }
          
        .cancion{
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 50px;
        }
        
        h1{
            font-size:43px;
            margin-bottom: 15px;
            text-align: center;
        }
        h2 ion-icon{
            size: 30px;
        }

        .logo{
            width: 100%;
        }
        
        .logo img{
            width:100%
        }
        
        .opciones{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 10%;
        }
        
        .opcion{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            text-align: left;
        }
        .IB{
            width:80%;
          margin-top: 40px;
          margin-bottom: 50px;
        }
        
        .opcion a{
            font-size: 30px;
            text-align: left;
        }
    }