*{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color:white;
    padding: 0;
    margin:0;

}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    }

.logo{
    width: 30%;
}


.opciones{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

.opcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.IB{
    width: 20%;
}


.opcion a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}



.opcion a:hover{
    color: teal;
    text-decoration: underline;
}






h1 { 
    text-align:center;
    height: 100px;
    font-size: 70px;
}
h2{
font-size: 40px;
}

a h3{
    font-size: 25px;
}

a{
    text-decoration: none;
}
img{ 
    width:50%;
}

.albums{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  
}
.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:baseline;
    justify-content: space-around;
    
}

.album{
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
   
}

ol li{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

a p{ 
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.info a h3:hover{
    color: rgb(172, 170, 170);
    text-decoration: underline;
    
    }

.info a p:hover{
color: rgb(172, 170, 170);
text-decoration: underline;

}



.footer {
    background-color: teal;
    margin-top: 50px;
}

.nombres{
    width: 50%;
    margin: auto;
    text-align: center;
}

.nombres a p:hover{
    color: teal;
    text-decoration: underline;
}
