*{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

body{
    padding: 15px;
    background-color: black;
}

a{
    font-size: 24px;
    text-decoration:none ;
    font-family: 'Roboto', sans-serif;
}

h2{
    padding-bottom: 15px;
    font-size: 50px;

}
 
img{
    width: 100%;
}


a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.logo{
    width: 30%;
    text-align: left;
    flex-direction: row;
}

.header{
    background-color: teal;
    display: flex;
    justify-content: space-between;
    
}

.header .logo {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    
}



.opciones{
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.opciones li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.IB{
    text-align: right;
    flex-direction: row;
}
.opciones li a:hover{
    color: teal;
    background-color: white;
    border-radius: 10px;
    border: solid red 2px;
}

ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.info a:hover{
    color: rgb(172, 170, 170);
    text-decoration: underline;
    
}


.padres{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.padres h2{
    width: 100%;
}

.hijos{
    width:100%;
    max-width: 300px;
   align-items: center;
   justify-content: space-between;
}

section article img{
    width: 90%;
}

.footer {
    background-color: gray;
    margin-top: 70px;
}

.nombres{
    width: 50%;
    margin: auto;
    text-align: center;
}

.nombres a p:hover{
    color: teal;
    text-decoration: underline;
}